<overlay>
  <div class="overlay">
    <h4>Loading...</h4>
    <img src="/assets/spinner48.svg"/>
  </div>
</overlay>
<div class="main-wrapper">
  <header>
    <ul class="navigation">
      <li class="nav-title">
        <a [routerLink]="['/']">Testiranje</a>
      </li>
      <ul class="nav-start">
        <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']">
          <a [routerLink]="['/']">Glavna</a>
        </li>
        <li *ngIf="currentUser && currentUser.userRole.roleId == 1" [routerLinkActive]="['active']">
          <a [routerLink]="['/users']">Korisnici</a>
        </li>
        <li *ngIf="currentUser && currentUser.userRole.roleId == 1" [routerLinkActive]="['active']">
          <a [routerLink]="['/courses']">Predmeti</a>
        </li>
        <li *ngIf="currentUser && currentUser.userRole.roleId == 1" [routerLinkActive]="['active']">
          <a [routerLink]="['/exams']">Ispiti</a>
        </li>
        <li *ngIf="currentUser && currentUser.userRole.roleId == 2" [routerLinkActive]="['active']">
          <a [routerLink]="['/overview']">Urađeni ispiti</a>
        </li>
        <li *ngIf="currentUser && currentUser.userRole.roleId == 3" [routerLinkActive]="['active']">
          <a [routerLink]="['/exams/available']">Preostali ispiti</a>
        </li>
        <li *ngIf="currentUser && currentUser.userRole.roleId == 3" [routerLinkActive]="['active']">
          <a [routerLink]="['/exams/completed']">Urađeni ispiti</a>
        </li>
      </ul>
      <ul class="nav-end">
        <li *ngIf="currentUser">
          <a>{{currentUser.username}}</a>
        </li>
        <li *ngIf="currentUser">
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </ul>
  </header>
  <alert></alert>
  <div class="container">
    <router-outlet style="flex: 0"></router-outlet>
  </div>
</div>
