<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="!loading" class="exam-list-wrapper">
  <div *ngFor="let course of courses" class="course">
    <h2>{{course.courseCode}} - {{course.name}}</h2>
    <ul>
      <li *ngFor="let studentExam of course.studentExams" class="exam">
        <div class="exam-name">
          <a [routerLink]="['/exams/completed', studentExam.studentExamId]">{{studentExam.exam.name}}</a>
        </div>
        <div class="exam-points">
          Bodovi: {{studentExam.points}}/{{studentExam.exam.numberOfQuestions}}
        </div>
        <div class="exam-time">
          Završen: {{studentExam.endTime | date:'medium'}}
        </div>
      </li>
    </ul>
  </div>
</div>
