<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="!loading">
  <ng2-md-datatable selectable="false">
    <ng2-md-datatable-header>
      <ng2-md-datatable-column>Predmet</ng2-md-datatable-column>
      <ng2-md-datatable-column>Ispit</ng2-md-datatable-column>
      <ng2-md-datatable-column>Ispit započet</ng2-md-datatable-column>
      <ng2-md-datatable-column>Ispit završen</ng2-md-datatable-column>
      <ng2-md-datatable-column>Bodovi</ng2-md-datatable-column>
    </ng2-md-datatable-header>
    <tbody>
    <ng2-md-datatable-row *ngFor="let studentExam of studentExams" [routerLink]="['/exams/completed', studentExam.studentExamId]" class="exam-column" >
      <td>{{studentExam.exam.course.courseCode}} - {{studentExam.exam.course.name}}</td>
      <td class="exam-name">{{studentExam.exam.name}}</td>
      <td>{{studentExam.startTime | date:'dd.MM.yyyy. hh:mm:ss'}}</td>
      <td>{{studentExam.endTime | date:'dd.MM.yyyy. hh:mm:ss'}}</td>
      <td>{{studentExam.points}}/{{studentExam.exam.numberOfQuestions}}</td>
    </ng2-md-datatable-row>
    </tbody>
  </ng2-md-datatable>
</div>
