<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<md-sidenav-container class="editor-container">
  <md-sidenav class="editor-sidenav" #sidenav mode="side" disableClose="true" >
    <h2>Ispiti</h2>
    <md-select placeholder="Predmet" [(ngModel)]="exam.course">
      <md-option *ngFor="let course of courses" [value]="course">
        {{course.courseCode}}
      </md-option>
    </md-select>
    <md-input-container>
      <input mdInput placeholder="Naziv ispita" [(ngModel)]="exam.name">
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Opis ispita" [(ngModel)]="exam.description"></textarea>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Broj pitanja" [(ngModel)]="exam.numberOfQuestions">
    </md-input-container>
    <button *ngIf="!working" md-raised-button (click)="addExam()">Dodaj ispit</button>
    <md-spinner *ngIf="working"></md-spinner>
  </md-sidenav>
  <ng2-md-datatable *ngIf="!loading" selectable="false">
    <ng2-md-datatable-header>
      <ng2-md-datatable-column>Predmet</ng2-md-datatable-column>
      <ng2-md-datatable-column>Naziv ispita</ng2-md-datatable-column>
      <ng2-md-datatable-column>Opis ispita</ng2-md-datatable-column>
      <ng2-md-datatable-column>Broj pitanja</ng2-md-datatable-column>
      <ng2-md-datatable-column>Akcije</ng2-md-datatable-column>
    </ng2-md-datatable-header>
    <tbody>
    <ng2-md-datatable-row *ngFor="let exam of exams" class="exam-row">
      <td [routerLink]="['/exams', exam.examId]" class="exam-highlight-column">{{exam.course.courseCode}}</td>
      <td [routerLink]="['/exams', exam.examId]" class="exam-highlight-column">{{exam.name}}</td>
      <td [routerLink]="['/exams', exam.examId]" class="exam-highlight-column">{{exam.description}}</td>
      <td>{{exam.numberOfQuestions}}</td>
      <td><a (click)="deleteExam(exam)"><md-icon>delete</md-icon></a></td>
    </ng2-md-datatable-row>
    </tbody>
  </ng2-md-datatable>
</md-sidenav-container>
