.editor-container {
  min-height: 500px;
}

.editor-sidenav {
  padding: 10px;
}

.editor-sidenav md-input-container {
  display: block;
}

.editor-sidenav md-select {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}
