.exam-wrapper {
  padding: 20px;
}

.exam-wrapper p {
  margin-bottom: 10px;
}

.exam-details {
  margin-bottom: 20px;
}

.exam-details h2 {
  font-size: 30px;
}

.exam-description {
  font-style: italic;
  margin-bottom: 10px;
}

.student-name {

}

.exam-points {

}

.exam-time {
  color: #b0b0b0;
  font-size: 13px;
}

.exam-question {

}

.exam-question-margin {
  height: 20px;
}

.exam-question h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.exam-answer-correct {
  background: green;
}

.exam-answer-incorrect {
  background: red;
}

.exam-question-answer {
  display: block;
  margin-bottom: 2px;
}
