<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="!loading" class="exam-wrapper">
  <div *ngIf="exam" class="exam-details">
    <h2>{{exam.name}}</h2>
    <div class="exam-description">{{exam.description}}</div>
    <div class="exam-points">Maksimum bodova: {{exam.numberOfQuestions}}</div>
    <div *ngIf="studentExam" class="exam-time">Ispit započet: {{studentExam.startTime | date:'dd.MM.yyyy. hh:mm:ss'}}</div>
  </div>
  <div *ngIf="!studentExam">
    <p>
      Kada počnete ispit, trenutak započinjanja ispita biće zabeležen i nećete moći da pokušate ponovo.
      <br/>
      U slučaju greške u sistemu molimo Vas da to što pre prijavite administratoru.
    </p>
    <a (click)="startExam()">Kliknite ovde da počnete.</a>
  </div>
  <div *ngIf="studentExam">
    <div class="exam-test">
      <div *ngFor="let examQuestion of studentExam.questions" class="exam-question">
        <h4>{{examQuestion.question.text}}</h4>
        <div *ngIf="examQuestion.question.questionType === 'truefalse'">
          <md-radio-group [(ngModel)]="answers[examQuestion.studentExamQuestionId].answerStatement">
            <md-radio-button class="exam-question-answer" [value]="true">
              Tačno
            </md-radio-button>
            <md-radio-button class="exam-question-answer" [value]="false">
              Netačno
            </md-radio-button>
          </md-radio-group>
        </div>
        <div *ngIf="examQuestion.question.questionType === 'numerical'">
          <md-input-container>
            <input mdInput placeholder="Odgovor" [(ngModel)]="answers[examQuestion.studentExamQuestionId].answerValue">
          </md-input-container>
        </div>
        <div *ngIf="examQuestion.question.questionType === 'single'">
          <md-radio-group [(ngModel)]="answers[examQuestion.studentExamQuestionId].singleChoiceAnswerId">
            <md-radio-button *ngFor="let answer of examQuestion.question.singleChoiceAnswers" class="exam-question-answer" [value]="answer.singleChoiceAnswerId">
              {{answer.text}}
            </md-radio-button>
          </md-radio-group>
        </div>
        <div *ngIf="examQuestion.question.questionType === 'multiple'">
          <md-checkbox *ngFor="let answer of examQuestion.question.multipleChoiceAnswers" class="exam-question-answer" [(ngModel)]="answers[examQuestion.studentExamQuestionId].multipleChoiceAnswerMap[answer.multipleChoiceAnswerId]">
            {{answer.text}}
          </md-checkbox>
        </div>
        <div *ngIf="examQuestion.question.questionType !== 'numerical'" class="exam-question-margin"></div>
      </div>
    </div>
    <button md-raised-button (click)="finishExam()">Završi</button>
  </div>
</div>
