.editor-container {
  min-height: 100%;
}

.editor-sidenav {
  padding: 10px;
}

.editor-sidenav md-input-container {
  display: block;
}

.editor-sidenav md-select {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.course-row:hover .course-highlight-column {
  font-weight: bold;
}

.course-highlight-column {
  cursor: pointer;
}
