<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<md-sidenav-container class="editor-container">
  <md-sidenav class="editor-sidenav" #sidenav mode="side" disableClose="true" >
    <h2>Predmeti</h2>
    <md-input-container>
      <input mdInput placeholder="Šifra predmeta" [(ngModel)]="course.courseCode">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Naziv predmeta" [(ngModel)]="course.name">
    </md-input-container>
    <button *ngIf="!working" md-raised-button (click)="addCourse()">Dodaj predmet</button>
    <md-spinner *ngIf="working"></md-spinner>
  </md-sidenav>
  <ng2-md-datatable *ngIf="!loading" selectable="false">
    <ng2-md-datatable-header>
      <ng2-md-datatable-column>Šifra predmeta</ng2-md-datatable-column>
      <ng2-md-datatable-column>Naziv predmeta</ng2-md-datatable-column>
      <ng2-md-datatable-column>Akcije</ng2-md-datatable-column>
    </ng2-md-datatable-header>
    <tbody>
    <ng2-md-datatable-row *ngFor="let course of courses" class="course-row">
      <td [routerLink]="['/courses', course.courseId]" class="course-highlight-column">{{course.courseCode}}</td>
      <td [routerLink]="['/courses', course.courseId]" class="course-highlight-column">{{course.name}}</td>
      <td><a (click)="deleteCourse(course)"><md-icon>delete</md-icon></a></td>
    </ng2-md-datatable-row>
    </tbody>
  </ng2-md-datatable>
</md-sidenav-container>
