.editor-container {
  min-height: 100%;
}

.editor-sidenav {
  padding: 10px;
}

.editor-sidenav md-input-container {
  display: block;
}

.editor-sidenav md-select {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.course-code-column {
  cursor: pointer;
}

.course-code-column:hover {
  font-weight: bold;
}
