<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="!loading" class="exam-wrapper">
  <div *ngIf="studentExam" class="exam-details">
    <h2>{{studentExam.exam.name}}</h2>
    <div class="exam-description">{{studentExam.exam.description}}</div>
    <div class="student-name">Student: {{studentExam.student.fullName}} <small>({{studentExam.student.email}})</small></div>
    <div class="exam-points">Bodovi: {{studentExam.points}}/{{studentExam.exam.numberOfQuestions}}</div>
    <div class="exam-time">Ispit započet: {{studentExam.startTime | date:'medium'}}</div>
    <div class="exam-time">Ispit završen: {{studentExam.endTime | date:'medium'}}</div>
  </div>
  <div *ngIf="studentExam.questions">
    <div class="exam-test">
      <div *ngFor="let examQuestion of studentExam.questions" class="exam-question">
        <h4>{{examQuestion.question.text}}</h4>

        <div *ngIf="examQuestion.question.questionType === 'truefalse'">
          <md-radio-group [(ngModel)]="examQuestion.answerStatement">
            <md-radio-button disabled [value]="true">
              Tačno
            </md-radio-button>
            <md-radio-button disabled [value]="false">
              Netačno
            </md-radio-button>
          </md-radio-group>
        </div>

        <div *ngIf="examQuestion.question.questionType === 'numerical'">
          <md-input-container>
            <input mdInput disabled placeholder="Odgovor" [(ngModel)]="examQuestion.answerValue">
          </md-input-container>
        </div>

        <div *ngIf="examQuestion.question.questionType === 'single'">
          <md-radio-group [(ngModel)]="examQuestion.singleChoiceAnswerId">
            <md-radio-button *ngFor="let answer of examQuestion.question.singleChoiceAnswers" disabled [value]="answer.singleChoiceAnswerId">
              {{answer.text}}
            </md-radio-button>
          </md-radio-group>
        </div>

        <div *ngIf="examQuestion.question.questionType === 'multiple'">
          <md-checkbox *ngFor="let answer of examQuestion.question.multipleChoiceAnswers" disabled [(ngModel)]="examQuestion.multipleChoiceAnswerMap[answer.multipleChoiceAnswerId]">
            {{answer.text}}
          </md-checkbox>
        </div>

        <div *ngIf="examQuestion.question.questionType !== 'numerical'" class="exam-question-margin"></div>

      </div>
    </div>
  </div>
</div>
