.exam-wrapper {
  padding: 20px;
}

.exam-wrapper p {
  margin-bottom: 10px;
}

.exam-wrapper a {
  color: #31708f;
}

.exam-details {
  margin-bottom: 20px;
}

.exam-details h2 {
  font-size: 30px;
}

.exam-description {
  font-style: italic;
  margin-bottom: 10px;
}

.student-name {

}

.exam-points {

}

.exam-time {
  color: #b0b0b0;
  font-size: 13px;
}

.exam-question {

}

.exam-question-margin {
  height: 20px;
}

.exam-question h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.material-icons {
  direction: ltr;
  display: inline-flex;
  align-content: center;
  vertical-align: middle;
  font-family: 'Material Icons';
  font-size: 30px;
  margin-left: 5px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.exam-answer-correct::after {
  @extend .material-icons;
  content: 'check';
  color: #388e3c;
}

.exam-answer-missed::after {
  @extend .material-icons;
  content: 'label';
  color: #fdd835;
}

.exam-answer-incorrect::after {
  @extend .material-icons;
  content: 'close';
  color: #d32f2f;
}

.exam-question md-checkbox {
  display: block;
  margin-bottom: 2px;
}

.exam-question md-radio-button {
  display: block;
  margin-bottom: 2px;
}

.exam-question md-input-container {
  //display: block;
}
