<div *ngIf="loading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="!loading" class="exam-wrapper">
  <div *ngIf="studentExam" class="exam-details">
    <h2>{{studentExam.exam.name}}</h2>
    <div class="exam-description">{{studentExam.exam.description}}</div>
    <div class="student-name">Student: {{studentExam.student.fullName}} <small>({{studentExam.student.email}})</small></div>
    <div class="exam-points">Bodovi: {{studentExam.points}}/{{studentExam.exam.numberOfQuestions}}</div>
    <div class="exam-time">Ispit započet: {{studentExam.startTime | date:'dd.MM.yyyy. hh:mm:ss'}}</div>
    <div class="exam-time">Ispit završen: {{studentExam.endTime | date:'dd.MM.yyyy. hh:mm:ss'}}</div>
  </div>
  <div *ngIf="studentExam.questions">
    <div class="exam-test">
      <div *ngFor="let examQuestion of studentExam.questions" class="exam-question">
        <h4>{{examQuestion.question.text}}</h4>

        <div *ngIf="examQuestion.question.questionType === 'truefalse'">
          <md-radio-group [(ngModel)]="examQuestion.answerStatement">
            <md-radio-button #rdbTrue disabled [value]="true"
                             [ngClass]="{
                             'exam-answer-correct': rdbTrue.checked && examQuestion.answerStatement === examQuestion.question.correctStatement,
                             'exam-answer-incorrect': rdbTrue.checked && examQuestion.answerStatement !== examQuestion.question.correctStatement,
                             'exam-answer-missed': examQuestion.answerStatement == null && examQuestion.question.correctStatement
                             }">
              Tačno
            </md-radio-button>
            <md-radio-button #rdbFalse disabled [value]="false"
                             [ngClass]="{
                             'exam-answer-correct': rdbFalse.checked && examQuestion.answerStatement === examQuestion.question.correctStatement,
                             'exam-answer-incorrect': rdbFalse.checked && examQuestion.answerStatement !== examQuestion.question.correctStatement,
                             'exam-answer-missed': examQuestion.answerStatement == null && !examQuestion.question.correctStatement
                             }">
              Netačno
            </md-radio-button>
          </md-radio-group>
        </div>

        <div *ngIf="examQuestion.question.questionType === 'numerical'"
                             [ngClass]="{
                             'exam-answer-correct': examQuestion.answerValue === examQuestion.question.correctValue,
                             'exam-answer-incorrect': examQuestion.answerValue != null && examQuestion.answerValue !== examQuestion.question.correctValue,
                             'exam-answer-missed': examQuestion.answerValue == null
                             }">
          <md-input-container>
            <input mdInput disabled placeholder="Odgovor" [(ngModel)]="examQuestion.answerValue">
          </md-input-container>
        </div>

        <div *ngIf="examQuestion.question.questionType === 'single'">
          <md-radio-group [(ngModel)]="examQuestion.singleChoiceAnswerId">
            <md-radio-button #rdbSingle *ngFor="let answer of examQuestion.question.singleChoiceAnswers" disabled [value]="answer.singleChoiceAnswerId"
                             [ngClass]="{
                             'exam-answer-correct': rdbSingle.checked && examQuestion.singleChoiceAnswerId === examQuestion.question.singleChoiceCorrectAnswerId,
                             'exam-answer-incorrect': rdbSingle.checked && examQuestion.singleChoiceAnswerId !== examQuestion.question.singleChoiceCorrectAnswerId,
                             'exam-answer-missed': examQuestion.singleChoiceAnswerId == null && answer.singleChoiceAnswerId === examQuestion.question.singleChoiceCorrectAnswerId
                             }">
              {{answer.text}}
            </md-radio-button>
          </md-radio-group>
        </div>

        <div *ngIf="examQuestion.question.questionType === 'multiple'">
          <md-checkbox #chbMultiple *ngFor="let answer of examQuestion.question.multipleChoiceAnswers; let i = index" disabled [(ngModel)]="examQuestion.multipleChoiceAnswerMap[answer.multipleChoiceAnswerId]"
                             [ngClass]="{
                             'exam-answer-correct': chbMultiple.checked && examQuestion.question.multipleChoiceAnswers[i].answerCorrect,
                             'exam-answer-incorrect': chbMultiple.checked && !examQuestion.question.multipleChoiceAnswers[i].answerCorrect,
                             'exam-answer-missed': !chbMultiple.checked && examQuestion.question.multipleChoiceAnswers[i].answerCorrect
                             }">
            {{answer.text}}
          </md-checkbox>
        </div>

        <div *ngIf="examQuestion.question.questionType !== 'numerical'" class="exam-question-margin"></div>

      </div>
    </div>
  </div>
</div>
