.exam-wrapper {
  padding: 20px;
}

.exam-details {
  margin-bottom: 20px;
}

.exam-details h2 {
  font-size: 30px;
}

.exam-details h2 small {
  font-size: 25px;
}

.exam-details h3 {
  font-size: 25px;
}

.exam-question {
  margin-bottom: 20px;
}

.exam-question h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

md-checkbox {
  display: block;
}

md-radio-button {
  display: block;
}
