.exam-list-wrapper {
  padding: 20px;
}

.course {
  margin-bottom: 10px;
}

.course h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.exam {
  font-style: italic;
}

.exam a {
  color: #31708f;
  font-style: normal;
  text-decoration: none;
}
