.editor-container {
  min-height: 100%;
}

.editor-sidenav {
  padding-right: 10px;
  min-width: 200px;
}

.course {
  margin-bottom: 10px;
}

.course-name a {
  font-weight: bold;
}

.course-description {
  font-style: italic;
}

.editor-sidenav md-input-container {
  display: block;
}

.editor-sidenav md-select {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.exam-column {
  cursor: pointer;
}

.exam-column:hover .exam-name {
  font-weight: bold;
}

h2 {
  margin-top: 10px;
  margin-left: 10px;
}
